// font-size
$ftSize-base-m: 24px;
$ftSize-base-l: 28px;
$ftSize-large-m: 32px;
$ftSize-large-l: 36px;
$ftSize-large-XL: 60px;
$ftSize-large-XXL: 100px;

//color
$Rcolor: #FF5155;
$color: #fff;

//bgcolor
$bgColor: #fff;
$bgColor-them: #f5f5f5;

// margin
$mabt: 20px;

// height
$header: 90px;
$footer: 100px;

//z-index
$Zbacktop: 9;
$signIn: 9;
$makeRecommend: 9;
$Zmenu: 9;
